commit-message.txt
*_cache
.DS_Store

# R
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata

# HTMl not associated with GitHub pages
01-introduction.html
02-data.html
03-cleaning.html
04-missing.html
05-results.html
